.login
  position absolute
  left 0
  top:0
  right:0
  bottom 0
  .login-head
    position absolute
    left 0
    top: 0
    right 0
    background-image url(../../../assets/images/top-bg.jpg)
    height 60px
    vertical-align middle
    .logo
      position absolute
      left 40px
      top: 50%
      margin-top -15px
  .login-container
    width 1170px
    margin 134px auto 0
    position relative
    .contain
      width 430px
      background-color rgba(243,243,243,.9)
      position absolute
      right 0
      top 0
      padding 24px 40px 20px
      border-radius 4px
      .list-input
        height 37px
        border-radius 4px
      .list-btn
        width 100%
        background-color #307cb9
        height 40px
        font-size 20px
      .tit
        font-size 18px
        color #373D41
        height 30px
        line-height 30px
        margin-bottom 30px












