.org
  padding 0 20px 0 30px
  background #fff

  .org-search
    padding 20px 0
    margin-bottom 10px
    color #888
    font-size 14px
    line-height 32px

    input
      width 180px
      margin-right 20px

    .tit
      margin-right 20px

  .org-table
    text-align center

    thead
      th
        color #fff
        text-align center


:host ::ng-deep
  .org-table
    table
      text-align center
      thead
        th
          color #fff
          text-align center
