.org
  padding 0 20px 0 30px
  background #fff

  .org-search
    padding 20px 0
    margin-bottom 10px
    color #888
    font-size 14px
    line-height 32px

    input
      width 180px
      margin-right 20px

    .tit
      margin-right 20px

  .org-table
    text-align center

    thead
      th
        color #fff
        text-align center

.pagination-item-link
  line-height 32px

:host ::ng-deep
  .org-table
    table
      text-align center
      thead
        th
          color #fff
          text-align center

      tbody
        .last
          color: #339ad9
          font-size: 14px
          margin-right: 20px
          span
            margin 0 5px

  .ant-spin-container
    .ant-pagination-item-link
      line-height 32px
