<div class="org">
  <div class="org-search clearfix">
    <span class="tit fl">机构:</span>
    <input class="fl" nz-input placeholder="请输入机构名称">
    <button class="fl" nz-button nzType="primary">搜索</button>
  </div>
  <div class="org-table">
    <nz-table #basicTable nzBordered [nzPageSize]="5" [nzData]="dataSet">
      <thead>
        <tr>
          <th>机构名称</th>
          <th>联系人</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.name}}</td>
          <td>{{data.age}}</td>
          <td>{{data.address}}</td>
        </tr>
        </tbody>
    </nz-table>
  </div>
</div>
